.menu{
    width: 350px;
    background: #364A63;
    right: 60px;
    position: absolute;
    padding: 20px;
    z-index: 10;
}

.options{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 1px solid #FFF;
    padding-bottom: 40px;
}

.priceline{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    font-size: 1rem;
}

.price{
    color: #BEEB14;
}

@media (max-width: 500px){
    .menu{
        width: 300px;
        right: 20px;
    }
}